# Introduction to Data Engineer
## @Computer Science: *December 21, 2023*
---
**Kanakorn Horsiritham**  
Digital Innovation and Data Analytics (DIDA)  
Faculty of Medicine  
Prince of Songkla University  



*Credit: Outline by Google Bard*

In [1]:
%%html
<style>
  .important {
    background-color: red;  /* Add this line for red background */
    color: white;          /* Add this line for white text */
    font-weight: bold;
    font-size: 24px;
  }
  .code-cell {
    color: blue;
    padding-left: 15px;
    font-weight: bold;
    font-size: 24px;
  }
</style>

# Module 1: Python Programming Basics

## Python fundamentals

**ไหว้ครู**  
จง copy คำสั่งต่อไปนี้ แล้วนำไปวางใน Cell ด้านล่าง แล้วกด run หรือ Crtl+Enter
```python
print('Hello World')
```

**Variables**  
ใน python สามารถสร้างตัวแปรได้โดยไม่จำเป็นต้องประกาศชนิด

```python
name="John Doe"
height=150
weight=50.5
```

- การเรียกใช้ variable นั้น สามารถเรียกใช้ได้เลย  
- เช่น การแสดงค่าของตัวแปรด้วย functiion `print` 

```python
print(name)
print("my name is" + name)  
print(f"my name is {name}")  
``` 

จากตัวอย่างด้านบน 
```python
print(f"my name is {}")
```
เป็นการแสดงผลข้อความพร้อม variable โดยใช้
```python
f"...{variable}..."
```

**data types**
```python
type(name)
```  
ลองดูกับ variable อื่น ๆ ดู

**operators**  
คำนวน BMI สูตรคือ weight/(height_in_meter**2)
```python
weight=50
height=1.50
BMI=weight/(height**2)
print(f"BMI: {BMI}")
```  

**control flow**
- ***if the else***

```python
weight=50
height=150
height_in_meter=-1
if height>=0.5 and height<=2.5:
    height_in_meter=height
else:
    if height < 0.5 or height > 250:
        height_in_meter=0
    else:
        height_in_meter=height*0.01
if height_in_meter>0:
    BMI=weight/(height_in_meter**2)
    print(f"BMI: {BMI}")
else:
    print('Impossible')
```
- ***for loop***

```python
for i in range(1,10):
    print(i)
```
- ***while loop***

```python
i=10
while i>=0:
    print(i)
    i-=1
```

**functions**  
```python
def cal_bmi(weight, height):    
    BMI=weight/(height**2)
    return BMI 
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [44]:
def cal_bmi(weight, height):    
    BMI=weight/(height**2)
    return BMI 

weight=50
height=1.50
cal_bmi(weight, height)

22.22222222222222

**Trick**  
เครื่องหมาย quote `'` และ `"` ใน python จะหมายถึง text และเป็นบรรทัดเดียว  
ถ้าต้องการแสดงผลหลายบรรทัด มี 2 ทางเลือก  
1. ใส่ `\n` เข้าไปท้ายข้อความ
2. ใช้ triple quote `'''` หรือ `"""`

ตัวอย่าง
```python
address1=f"บรรทัดที่ 1\nบรรทัดที่ 2\nอันนี้ variable name: {name}"
address2=f"""บรรทัดที่ 1
บรรทัดที่ 2
อันนี้ variable name: {name}"""
patient_info=f"""
name: {name}
height: {height}
weight: {weight}
"""
print(address1)
print(address2)
print(patient_info)

```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [51]:
patient_info=f"""
name: {name}
height: {height}
weight: {weight}
"""
print(patient_info)

name: John Doe
height: 1.5
weight: 50

## Data Structure

**list** 
```python
lab_data=['1234567', '2023-12-21', '2023-12-21', 'BUN', '23']
lab_data=[
    ['1234567', '2019-12-01', '2019-12-01', 'BUN', '23'],
    ['1234567', '2020-12-07', '2020-12-08', 'BUN', '20'],
    ['1234567', '2022-12-14', '2022-12-15', 'BUN', '15'],
    ['1234567', '2023-12-21', '2023-12-21', 'BUN', '7'],
]

```
**tuple**  
```python
patient_info2=('1234567', 'John', 'Doe', 150, 50.3, '2000-05-12')
```
**dictionary**  
```python
patient_info3={
    'pid'      :'1234567',
    'firstname':'John',
    'lastname' :'Doe',
    'height'   :150,
    'weight'   :50.3,
    'dob'      :'2000-05-12'
}
```

**set**  
```python
lab_set={'BUN','creatinine','Na','K','Cl','Ca'}
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [76]:
patient_info3={
    'pid'      :'1234567', # Patient ID
    'firstname':'John',
    'lastname' :'Doe',
    'height'   :150,
    'weight'   :50.3,
    'dob'      :'2000-05-12'  # Date of birth
}

patient_info3['height']

150

### Modules and libraries

```python
import numpy as np
import pandas as pd
import re
from datetime import datetime
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [77]:
import numpy as np
import pandas as pd
import re  # Regular Expression
from datetime import datetime

### Simple calculations with Python

**ลองคำนวนค่าต่อไปนี้**

- จาก patient_info3 ตอนนี้ John Doe อายุเท่าไหร่ (ปี)
- จาก patient_info3 และ lab_data แต่ละครั้งที่มาตรวจ เค้าอายุเท่าไหร่ (ปี)

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [124]:
patient_info3={
    'pid'      :'1234567', # Patient ID
    'firstname':'John',
    'lastname' :'Doe',
    'height'   :150,
    'weight'   :50.3,
    'dob'      :'2000-05-12'  # Date of birth
}

lab_data=[
    ['1234567', '2019-12-01', '2019-12-01', 'BUN', '23'],
    ['1234567', '2020-12-07', '2020-12-08', 'BUN', '20'],
    ['1234567', '2022-12-14', '2022-12-15', 'BUN', '15'],
    ['1234567', '2023-12-21', '2023-12-21', 'BUN', '7'],
]

today=datetime.now().date()
dob=  patient_info3['dob']
dob2= datetime.strptime(dob, "%Y-%m-%d").date()
age=(today - dob2).days/365
# print(age)

# Data Transformation
for i in lab_data:
    lab_date=datetime.strptime(i[1], "%Y-%m-%d").date()
    age=round((lab_date - dob2).days/365)
    print(lab_date, age)
    # break

2019-12-01 20
2020-12-07 21
2022-12-14 23
2023-12-21 24

### Exploring NumPy arrays and Pandas DataFrames for data manipulation

จาก `lab_data`, `patient_info3` และ

```python
columns=['pid','date_request','date_out','labname','value']
df = pd.DataFrame(lab_data, columns=columns)
df
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [174]:
columns=['pid','date_request','date_out','labname','value']
df = pd.DataFrame(lab_data, columns=columns)
df['value']=df['value'].astype(int)
# df.query('value >=20')

# 1. วนลูปวนไป
dob=  patient_info3['dob']
dob2= datetime.strptime(dob, "%Y-%m-%d").date()
ages = []
for i, r in df.iterrows():
    lab_date=datetime.strptime(r['date_request'], "%Y-%m-%d").date()
    age=round((lab_date - dob2).days/365)
    ages.append(age)
    # break
# ages
y2 = pd.Series(ages, name='age', index=df.index)
df.join(y2)

       pid date_request    date_out labname  value  age
0  1234567   2019-12-01  2019-12-01     BUN     23   20
1  1234567   2020-12-07  2020-12-08     BUN     20   21
2  1234567   2022-12-14  2022-12-15     BUN     15   23
3  1234567   2023-12-21  2023-12-21     BUN      7   24

# Module 2

## Extract with Regular Expression

```python
lab1="""
Sample: #Clotted blood
Received 01/01/59 05:53
  Test      Result [Ref. units]
๏ *BUN      (L)5.6 [6-20 mg%]
๏ *CREAT   (L)0.38 [0.51-0.95 mg%]
๏ *Na+    (L)135.9 [136-145 mmol/L]
๏ *K +     (L)3.39 [3.5-5.1 mmol/L]
๏ *Cl -      100.4 [98-107 mmol/L]
๏ *T-CO2      25.0 [22-29 mmol/L]
๏ eGFR-EP      129 [ ml/min/1.7]
๏ eGFR-MD      196 [ ml/min/1.7]
"""

lab2="""
Received: 02/12/66 05:48
Sample: Lit
  Test         Result [Ref. units]
๏ BUN             8.5 [7.0-18.7 mg/
๏ Creatinine (L) 0.40 [0.55-1.02 mg
๏ Na+        (L)131.0 [136-145 mmol
๏ K+             3.68 [3.4-4.4 mmol
๏ Cl-        (L) 97.2 [98-107 mmol/
๏ Total CO2      23.3 [22-29 mmol/L
๏ Calcium    (L)  8.2 [8.4-10.2 mg/
- Correct Calcium   9.3 [mg/dL]
๏ Phosphorus (L)  1.8 [2.3-4.7 mg/d
๏ D.bilirubin    0.30 [0-0.5 mg/dL]
๏ T.Bilirubin    0.63 [0.2-1.2 mg/d
๏ AST        (H)   40 [11-34 U/L]
๏ ALT              19 [<34 U/L]
๏ ALP              87 [46-122 U/L]
๏ T.Protein       6.7 [6.4-8.3 g/dL
๏ Albumin    (L)  2.6 [3.5-5.0 g/dL
- Globulin        4.1 [g/dL]
๏ eGFR(CKD-EPI)   138 ml/min/1.7m2
๏ eGFR(MDRD)      185 ml/min/1.7m2
"""

pattern = fr"BUN(.*)"

re1=re.compile(pattern)
re1.search(lab1).group(1)

```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [194]:
lab1="""
Sample: #Clotted blood
Received 01/01/59 05:53
  Test      Result [Ref. units]
๏ *BUN      (L)5.6 [6-20 mg%]
๏ *CREAT   (L)0.38 [0.51-0.95 mg%]
๏ *Na+    (L)135.9 [136-145 mmol/L]
๏ *K +     (L)3.39 [3.5-5.1 mmol/L]
๏ *Cl -      100.4 [98-107 mmol/L]
๏ *T-CO2      25.0 [22-29 mmol/L]
๏ eGFR-EP      129 [ ml/min/1.7]
๏ eGFR-MD      196 [ ml/min/1.7]
"""

lab2="""
Received: 02/12/66 05:48
Sample: Lit
  Test         Result [Ref. units]
๏ BUN             8.5 [7.0-18.7 mg/
๏ Creatinine (L) 0.40 [0.55-1.02 mg
๏ Na+        (L)131.0 [136-145 mmol
๏ K+             3.68 [3.4-4.4 mmol
๏ Cl-        (L) 97.2 [98-107 mmol/
๏ Total CO2      23.3 [22-29 mmol/L
๏ Calcium    (L)  8.2 [8.4-10.2 mg/
- Correct Calcium   9.3 [mg/dL]
๏ Phosphorus (L)  1.8 [2.3-4.7 mg/d
๏ D.bilirubin    0.30 [0-0.5 mg/dL]
๏ T.Bilirubin    0.63 [0.2-1.2 mg/d
๏ AST        (H)   40 [11-34 U/L]
๏ ALT              19 [<34 U/L]
๏ ALP              87 [46-122 U/L]
๏ T.Protein       6.7 [6.4-8.3 g/dL
๏ Albumin    (L)  2.6 [3.5-5.0 g/dL
- Globulin        4.1 [g/dL]
๏ eGFR(CKD-EPI)   138 ml/min/1.7m2
๏ eGFR(MDRD)      185 ml/min/1.7m2
"""
import re # Regular Expression
pattern = fr"BUN(.*)" # f=format r=regular expression
# . = อะไรก็ได้
# * = zero or more
re1=re.compile(pattern)
re1.search(lab1).group(1)

'      (L)5.6 [6-20 mg%]'

# Quiz
1. จาก lab1, lab2 จง เขียน Regular Expression เพื่อแกะข้อมูลของ lab_set
2. เก็บข้อมูลที่ได้ ให้อยู่ในรูปแบบ Pandas dataframe

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

In [207]:
import re # Regular Expression
# pattern = fr"BUN(.*)" # f=format r=regular expression
pattern_bun = fr"BUN\D*([0-9.]*)" # f=format r=regular expression
pattern_creatinine = fr"(?i)CREAT\D*([0-9.]*)" # f=format r=regular expression
# . = อะไรก็ได้ == Greedy
# * = zero or more
# \d = digit [0-9]
# \D = Non digit
# \s = space
# \S = non space
# [0-9.] = 0,1,2,3,4..,9,.
# (?i) = case-insensitive
re1=re.compile(pattern_bun)
re2=re.compile(pattern_creatinine)
bun=re1.search(lab1).group(1)
creatinine=re2.search(lab1) .group(1)
print(bun)
print(creatinine)

5.6
0.38