# Introduction to Data Engineer
## @Computer Science: *December 21, 2023*
---
**Kanakorn Horsiritham**  
Digital Innovation and Data Analytics (DIDA)  
Faculty of Medicine  
Prince of Songkla University  



*Credit: Outline by Google Bard*

In [29]:
%%html
<style>
  .important {
    background-color: red;  /* Add this line for red background */
    color: white;          /* Add this line for white text */
    font-weight: bold;
    font-size: 24px;
  }
  .code-cell {
    color: blue;
    padding-left: 15px;
    font-weight: bold;
    font-size: 24px;
  }
</style>

# Module 1: Python Programming Basics

## Python fundamentals

**ไหว้ครู**  
จง copy คำสั่งต่อไปนี้ แล้วนำไปวางใน Cell ด้านล่าง แล้วกด run หรือ Crtl+Enter
```python
print('Hello World')
```

**Variables**  
ใน python สามารถสร้างตัวแปรได้โดยไม่จำเป็นต้องประกาศชนิด

```python
name="John Doe"
height=150
weight=50.5
```

- การเรียกใช้ variable นั้น สามารถเรียกใช้ได้เลย  
- เช่น การแสดงค่าของตัวแปรด้วย functiion `print` 

```python
print(name)
print("my name is" + name)  
print(f"my name is {name}")  
``` 

จากตัวอย่างด้านบน 
```python
print(f"my name is {}")
```
เป็นการแสดงผลข้อความพร้อม variable โดยใช้
```python
f"...{variable}..."
```

**data types**
```python
type(name)
```  
ลองดูกับ variable อื่น ๆ ดู

**operators**  
คำนวน BMI สูตรคือ weight/(height_in_meter**2)
```python
weight=50
height=1.50
BMI=weight/(height**2)
print(f"BMI: {BMI}")
```  

**control flow**
- ***if the else***

```python
weight=50
height=150
height_in_meter=-1
if height>=0.5 and height<=2.5:
    height_in_meter=height
else:
    if height < 0.5 or height > 250:
        height_in_meter=0
    else:
        height_in_meter=height*0.01
if height_in_meter>0:
    BMI=weight/(height_in_meter**2)
    print(f"BMI: {BMI}")
else:
    print('Impossible')
```
- ***for loop***

```python
for i in range(1,10):
    print(i)
```
- ***while loop***

```python
i=10
while>=0:
    print(i)
    i-=1
```

**functions**  
```python
def cal_bmi(weight, height):    
    BMI=weight/(height**2)
    return BMI 
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

**Trick**  
เครื่องหมาย quote `'` และ `"` ใน python จะหมายถึง text และเป็นบรรทัดเดียว  
ถ้าต้องการแสดงผลหลายบรรทัด มี 2 ทางเลือก  
1. ใส่ `\n` เข้าไปท้ายข้อความ
2. ใช้ triple quote `'''` หรือ `"""`

ตัวอย่าง
```python
address1=f"บรรทัดที่ 1\nบรรทัดที่ 2\nอันนี้ variable name: {name}"
address2=f"""บรรทัดที่ 1
บรรทัดที่ 2
อันนี้ variable name: {name}"""
patient_info=f"""
name: {name}
height: {height}
weight: {weight}
"""
print(address1)
print(address2)
print(patient_info)

```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

## Data Structure

**list** 
```python
lab_data=['1234567', '2023-12-21', '2023-12-21', 'BUN', '23']
lab_data=[
    ['1234567', '2019-12-01', '2019-12-01', 'BUN', '23'],
    ['1234567', '2020-12-07', '2020-12-08', 'BUN', '20'],
    ['1234567', '2022-12-14', '2022-12-15', 'BUN', '15'],
    ['1234567', '2023-12-21', '2023-12-21', 'BUN', '7'],
]

```
**tuple**  
```python
patient_info2=['1234567', 'John', 'Doe', 150, 50.3, '2000-05-12']
```
**dictionary**  
```python
patient_info3={
    'pid'      :'1234567',
    'firstname':'John',
    'lastname' :'Doe',
    'height'   :150,
    'weight'   :50.3,
    'dob'      :'2000-05-12'
}
```

**set**  
```python
lab_set={'BUN','creatinine','Na','K','Cl','Ca'}
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

### Modules and libraries

```python
import numpy as np
import pandas as pd
import re
from datetime import datetime
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

### Simple calculations with Python

**ลองคำนวนค่าต่อไปนี้**

- จาก patient_info3 ตอนนี้ John Doe อายุเท่าไหร่ (ปี)
- จาก patient_info3 และ lab_data แต่ละครั้งที่มาตรวจ เค้าอายุเท่าไหร่ (ปี)

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

### Exploring NumPy arrays and Pandas DataFrames for data manipulation

จาก `lab_data`, `patient_info3` และ

```python
columns={'pid','date_request','date_out','labname','value'}
df = pd.DataFrame(lab_data, columns=columns)
df
```

<span class='code-cell'>วางโค้ดที่นี่ แล้วกด Ctrl+Enter</span>

       pid    date_out date_request labname value
0  1234567  2019-12-01   2019-12-01     BUN    23
1  1234567  2020-12-07   2020-12-08     BUN    20
2  1234567  2022-12-14   2022-12-15     BUN    15
3  1234567  2023-12-21   2023-12-21     BUN     7

# Module 2